body {
  margin: 0;
  background: grey;
  height: 100vh;
  overflow: hidden;
}

.container {
  width: 100vw;
  height: 100vw;
  max-width: 100vh;
  max-height: 100vh;
  margin: auto;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  transform: rotate(45deg);
}

#center {
  width: 50%;
  height: 50%;
  position: absolute;
  background: black;
  left: 25%;
  top: 25%;
  border-radius: 50%;
}

.button {
  width: 50%;
  height: 50%;
  position: absolute;
  opacity: 0.5;
  border: 10px black solid;
  box-sizing: border-box;
}

.button.active {
  opacity: 1;
}

#red {
  border-left: none;
  border-top: none;
  left: 0;
  top: 0;
  background: red;
}

#green {
  border-top: none;
  border-right: none;
  right: 0;
  top: 0;
  background: green;
}

#blue {
  border-left: none;
  border-bottom: none;
  left: 0;
  bottom: 0;
  background: blue;
}

#yellow {
  border-right: none;
  border-bottom: none;
  right: 0;
  bottom: 0;
  background: yellow;
}